$muted-white: #8c8e93;
$vibrant-blue: #0ec7ff;
$global-padding-vertical: calc(12vh + 2rem);
$global-padding-horizontal: calc(10vw + 2rem);

$round-bg-radius: calc(1vmin + 1rem);
// $round-bg-color: transparentize(#dfdaf7, 0.95);
$round-bg-color: #151b2b;
