// $bg-color: #0a1020;
// $bg-color: #111b36;
$bg-color: #0c1a3f;
$bg-light-color: #182649;
$muted-white: #8c8e93;
$orange: lighten(orangered, 0.1);
$vibrant-blue: #0ec7ff;
$muted-blue: #0f96c2;
$global-padding-vertical: calc(5vh + 4rem);
$global-padding-horizontal: calc(12vw + 1rem);

// $round-border-color: transparentize(#2e3340, 0.7);
$round-border-color: transparentize(lighten($bg-light-color, 20%), 0.7);
$round-bg-radius: calc(1vmin + 1rem);
// $round-bg-color: transparentize(#dfdaf7, 0.95);
$round-bg-color: #151b2b;

//services-search
$services-height: calc(100vh - #{$global-padding-vertical} * 2);
$services-width: calc(63vw);

//contact
$contact-width: calc(20rem + 5vw);
$contact-horizontal-padding: 2vw;
$contact-right-margin: calc(0.5rem + 1vw);
$contact-font-size: 1.5rem;
$contact-space-const: calc(
	(#{$contact-horizontal-padding} * 2 + #{$contact-font-size})
);
$contact-space: calc((#{$contact-space-const}) * var(--index));
$contact-whole-width: calc(
	#{$contact-width} + #{$contact-space-const} * (var(--length) - 1)
);
$contact-move: calc((#{$contact-width} - #{$contact-space-const}) * -1);
$contact-middle: calc(
	(#{$contact-space} * -1) + (#{$contact-whole-width} / 2) -
		(#{$contact-width} / 2)
);
$contact-height: 6rem;

//Media queries

//Phone
$mq-phone-break-px: 600px;
$mq-phone-break: "(max-width: #{$mq-phone-break-px})";
$mq-phone: "screen and #{$mq-phone-break};";

//Tablet-not-phone
$mq-tablet-break-px: 900px;
$mq-tablet-break: "(max-width: #{$mq-tablet-break-px})";
$mq-tablet: "screen and #{$mq-tablet-break};";
$mq-tablet-not-phone: "screen and (min-width: #{$mq-phone-break-px}) and #{$mq-tablet-break};";

$global-padding-top-override-max-px: 600px;
$global-padding-top-override-amount: 3rem;

:export {
	bgColor: #0c1a3f;
	bgLightColor: #182649;
	mutedWhite: #8c8e93;
	orange: lighten(orangered, 0.1);
	vibrantBlue: #0ec7ff;
	mutedBlue: #0f96c2;
	globalPaddingVertical: calc(5vh + 4rem);
	globalPaddingHorizontal: calc(12vw + 1rem);
	roundBorderColor: transparentize(lighten($bg-light-color, 20%), 0.7);
	roundBgRadius: calc(1vmin + 1rem);
	roundBgColor: #151b2b;
	servicesHeight: calc(100vh - calc(5vh + 4rem) * 2);
	servicesWidth: calc(63vw);
	contactWidth: calc(20rem + 5vw);
	contactHorizontalPadding: 2vw;
	contactRightMargin: calc(0.5rem + 1vw);
	contactFontSize: 1.5rem;
	contactSpaceConst: calc((2vw * 2 + 1.5rem));
	contactSpace: calc((calc((2vw * 2 + 1.5rem))) * var(--index));
	contactWholeWidth: calc(calc(20rem + 5vw) + calc((2vw * 2 + 1.5rem)) * (var(--length) - 1));
	contactMove: calc((calc(20rem + 5vw) - calc((2vw * 2 + 1.5rem))) * -1);
	contactMiddle: calc((calc((calc((2vw * 2 + 1.5rem))) * var(--index)) * -1) + (calc(calc(20rem + 5vw) + calc((2vw * 2 + 1.5rem)) * (var(--length) - 1)) / 2) -(calc(20rem + 5vw) / 2));
	contactHeight: 6rem;
	mqPhoneBreakPx: 600px;
	mqPhoneBreak: "(max-width: 600px)";
	mqPhone: "screen and (max-width: 600px;";
	mqTabletBreakPx: 900px;
	mqTabletBreak: "(max-width: 900px)";
	mqTablet: "screen and (max-width: 900px;";
	mqTabletNotPhone: "screen and (min-width: 600px) and (max-width: 900px;";
	globalPaddingTopOverrideMaxPx: 600px;
	globalPaddingTopOverrideAmount: 3rem;
}