section#contact {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	h1 {
		font-weight: 600;
		font-size: 1.7rem;
		margin-bottom: 3rem;

		@media #{$mq-phone} {
			text-align: center;
		}
	}
	#contact-container {
		//@media
		&.big-viewport {
			width: $contact-whole-width;
			height: $contact-height;
			position: relative;
		}
		margin-bottom: 3rem;
		@media #{$mq-phone} {
			margin-bottom: 1rem;
		}
		//@media <- for searching
		&.small-viewport {
			display: flex;
			flex-direction: column;
		}
		&.active-hover {
			&::v-deep .contact {
				&:not(.hover):not(.small-viewport) {
					transition: transform 1s ease-out;
					transform: translateX(
						calc(
							#{$contact-space} / 50 * ((var(--hoverIndex) + 1) /
										(var(--index) + 1))
						)
					);
				}
			}
		}
		&.active-selected {
			&::v-deep .contact {
				&:not(.selected):not(.reverse) {
					transition: transform 1s ease-out;
				}
			}
		}
	}

	#map {
		display: flex;
		justify-content: center;
		border-radius: 2rem;
		background-color: $round-bg-color;
		border: 1px solid $round-border-color;
		@media #{$mq-phone} {
			width: 85vw;
		}
		#map-container {
			position: relative;
			height: calc(63vmin);
			width: calc(63vmin);

			@media #{$mq-phone} {
				height: 91vh;
				width: 100%;
			}
			display: flex;
			align-items: center;
			justify-content: center;

			iframe {
				width: 90%;
				height: 90%;
				border-radius: 0.5rem;
			}
		}
	}

	margin-bottom: $global-padding-vertical;
	@media #{$mq-phone} {
		margin-bottom: 3rem;
	}
}
