section#contact {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	h1 {
		font-weight: 600;
		font-size: 1.7rem;
		margin-bottom: 3rem;
	}
	#contact-container {
		// height: calc(100vh - #{$global-padding-vertical} * 2);
		margin-bottom: 20vh;
		width: $contact-whole-width;
		position: relative;

		&.active-hover {
			&::v-deep .contact {
				&:not(.hover) {
					transition: transform 1s ease-out;
					/* 					transform: rotateY(5deg)
						translateX(
							calc( #{$contact-space} / 50)
						); */
					transform: translateX(
						calc(
							#{$contact-space} / 50 * ((var(--hoverIndex) + 1) /
										(var(--index) + 1))
						)
					);
				}
			}
		}
		&.active-selected {
			&::v-deep .contact {
				&:not(.selected):not(.reverse) {
					transition: transform 1s ease-out;
					// transform: translateX(calc((#{$contact-width} * -1)))
					// transform: /* rotateY(60deg )*/
					// 	translateX(calc(#{$contact-space}));
				}
			}
		}
	}
}
