section#contact {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	h1 {
		font-weight: 600;
		font-size: 1.7rem;
		margin-bottom: 3rem;
	}
	#contact-container {
		height: $contact-height;
		margin-bottom: 3rem;
		// height: calc(100vh - #{$global-padding-vertical} * 2);
		width: $contact-whole-width;
		position: relative;

		&.active-hover {
			&::v-deep .contact {
				&:not(.hover) {
					transition: transform 1s ease-out;
					/* 					transform: rotateY(5deg)
						translateX(
							calc( #{$contact-space} / 50)
						); */
					transform: translateX(
						calc(
							#{$contact-space} / 50 * ((var(--hoverIndex) + 1) /
										(var(--index) + 1))
						)
					);
				}
			}
		}
		&.active-selected {
			&::v-deep .contact {
				&:not(.selected):not(.reverse) {
					transition: transform 1s ease-out;
					// transform: translateX(calc((#{$contact-width} * -1)))
					// transform: /* rotateY(60deg )*/
					// 	translateX(calc(#{$contact-space}));
				}
			}
		}
	}

	#map {
		display: flex;
		justify-content: center;
		border-radius: 2rem;
		background-color: $round-bg-color;
		border: 1px solid $round-border-color;
		#map-container {
			position: relative;
			height: calc(63vmin);
			width: calc(63vmin);
			display: flex;
			align-items: center;
			justify-content: center;

			iframe {
				width: 90%;
				height: 90%;
				border-radius: 0.5rem;
			}
		}
	}
}
