#infographic {
	margin-bottom: $global-padding-vertical;
	h1 {
		font-weight: 600;
		margin-bottom: 2rem;
		width: 61%;
	}
	.round-bg {
		height: calc(100vh - #{$global-padding-vertical} * 2);
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			border-radius: $round-bg-radius;
			background-color: $round-bg-color;
			height: 100%;
		}
	}
}
