#infographic {
	margin-bottom: $global-padding-vertical;
	display: flex;
    flex-direction: column;
    align-items: center;
	h1 {
		text-align: center;
		font-weight: 600;
		margin-bottom: 2rem;
		width: 61%;
	}
	.round-bg {
		height: calc(100vh - #{$global-padding-vertical} * 2);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: $round-bg-radius;
		background-color: $round-bg-color;
		svg {
			height: 100%;
			padding: 0 1vw;
			width: 61vw;
		}
	}
}
