div.service {
	color: white !important;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	flex-basis: 25%;
	min-height: 100px;
	max-height: 50%;
	flex-grow: 1;
	margin-right: 2rem;
	margin-bottom: 2rem;
	@media #{$mq-phone} {
		max-height: inherit;
		flex-basis: 40%;
	}
	z-index: 10;
	text-align: center;
	padding: 2vw;
	.title {
		font-weight: 600;
		font-size: calc(var(--size) * 1px);
		color: black;
	}
	.description {
		font-size: calc(var(--size) * 1px);
		font-weight: 400;
		color: black;
	}
	background-color: transparentize(white, 0.1);
	border-radius: 1rem;
	transition: all 1s ease-out;
	&.list {
		flex-basis: 100%;
		flex-direction: row;
		justify-content: space-between;
		padding-left: 2rem;
		padding-right: 2rem;
		min-height: calc(10px + 2vh);
		max-height: unset;
		.title {
			text-align: left;
			// width: 150%;
			// word-break: break-all;
		}
		.description {
			font-size: calc(var(--size) * 1.3px);
			text-align: right;
		}
		
		transition: margin 1.5s ease-out;

		&.only-list {
			height: 50%;
			margin-top: auto;
			margin-bottom: auto;
		}
	}

	&:not(.visible) {
		flex-basis: 0;
		width: 0;
		overflow: hidden;
		padding: 0;
		margin: 0;
		display: none;
	}
}
