#services-search {
	margin-bottom: $global-padding-vertical;
	display: flex;
	flex-direction: column;
	align-items: center;
	.round {
		border: 1px solid transparentize(#2e3340, 0.7);
		background-color: $round-bg-color;
		border-radius: 50%;
	}
	.round-bg {
		border-radius: $round-bg-radius;
		height: calc(100vh - #{$global-padding-vertical} * 2);
		width: calc(63vw);
		position: relative;
		div#top-part {
			$search-bar-height: 2rem;
			$search-bar-padding-vertical: 0.25rem;
			$search-bar-padding-horizontal: 3vw;
			$whole-height: calc(
				#{$search-bar-height} + #{$search-bar-padding-vertical}
			);

			margin-top: calc(
				(-#{$search-bar-height} / 2) - #{$search-bar-padding-vertical}
			);
			height: $whole-height;
			position: relative;
			div#search-bar {
				$input-font-size: 0.8rem;
				width: 40%;
				height: 100%;
				margin-left: 1.5rem;
				.fa-search {
					position: absolute;
					left: 40%;
					font-size: 0.8rem;
					top: calc(
						#{$search-bar-padding-vertical} + (#{$search-bar-height} -
									#{$search-bar-padding-vertical} * 2 - #{$input-font-size})
					);
					opacity: 0.5;
					z-index: 5;
					transition: all 0.25s ease-in-out;
					&:hover {
						cursor: pointer;
					}
				}
				input#search-bar {
					font-family: "Montserrat", sans-serif;
					width: 100%;
					height: 100%;
					color: transparentize($vibrant-blue, 0.2);
					border-radius: 2rem;
					font-size: $input-font-size;
					padding-top: $search-bar-padding-vertical;
					padding-bottom: $search-bar-padding-vertical;
					padding-left: $search-bar-padding-horizontal;
					padding-right: 0;
					transition: all 0.25s ease-in-out;
					&:focus {
						outline: none !important;
						border-color: transparentize($vibrant-blue, 0.8);
						& + .fa-search {
							color: $vibrant-blue;
							opacity: 0.8;
						}
						&::placeholder {
							color: $vibrant-blue;
						}
					}
					&::placeholder {
						opacity: 0.6;
						--vw: 1vw;
						--rem: 0.5rem;
						font-size: calc(var(--vw) / var(--rem));
						transition: color 1.5s ease-out;
					}
				}
			}
			div#view-type {
				height: 100%;
				width: 4rem;
				border-radius: 2rem;
				padding: $search-bar-padding-vertical 0.5rem;
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;
				align-items: center;
				position: absolute;
				right: 2rem;
				top: 0;
				svg {
					cursor: pointer;
					opacity: 0.6;
					transition: all 0.25s ease-in-out;
					&:hover {
						opacity: 0.8;
					}
					&.active {
						color: $vibrant-blue;
					}
				}
			}
		}
		$top: 10%;
		$left: 5%;
		$border-radius: 1rem;
		$padding: 2rem;
		$width: calc(100% - #{$left} * 2 - #{$padding} * 2);
		$height: calc(100% - #{$top} * 1.5 - #{$padding} * 2);
		$scrollbar-width: 11px;
		div#gradient-overlay {
			position: absolute;
			left: $left;
			top: $top;
			border-radius: $border-radius;
			width: calc(#{$width} - #{$scrollbar-width});
			height: $height;
			padding: $padding;
			pointer-events: none;
			z-index: 20;
			background: linear-gradient(
				to bottom,
				rgba(21, 27, 43, 0.8) 0%,
				rgba(41, 137, 216, 0) 9%,
				rgba(32, 124, 202, 0) 93%,
				rgba(30, 110, 179, 0) 94%,
				rgba(21, 27, 43, 0.8) 100%
			); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151b2b', endColorstr='#151b2b',GradientType=0 ); /* IE6-9 */
		}
		#nothing-found {
			display: flex;
			flex-direction: column;
			background-color: transparentize(white, 0.2);
			border-radius: 2rem;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 61%;
			height: 60%;
			padding: 2rem 3rem;
			box-sizing: border-box;
			color: #0a1020;
			#title {
				font-weight: 800;
				font-size: 1.4rem;
			}
			#description {
				margin-top: 1rem;
				font-weight: 500;
			}
			#buttons {
				margin-top: auto;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-end;
				flex-wrap: wrap;
				width: 100%;
				height: 100%;
				align-content: space-evenly;
				a {
					border-radius: 2rem;
					background-color: $vibrant-blue;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0 1rem;
					text-align: center;
					height: 2.5rem;
					color: inherit;
					text-decoration: none;
					svg {
						margin-right: 1vw;
					}
					font-weight: 500;
					font-size: 0.8rem;
				}
			}
			transition: all 0.5s ease-out;
			&:not(.visible) {
				transition: transform 2s ease-in, opacity 1s ease-out;
				opacity: 0;
				pointer-events: none;
				transform: translate(-50%, 80%);
			}
		}
		div#services-container {
			overflow-y: scroll;
			border-radius: $border-radius;
			position: absolute;
			top: $top;
			left: $left;
			width: $width;
			height: $height;
			transition: color 2s ease-in;
			padding: $padding;
			// padding-top: 0;
			color: #121726;
			&:hover {
				&::-webkit-scrollbar-thumb {
					background-color: $muted-blue;
				}
				color: $muted-blue;
				transition: color 1s ease-out;
			}
			.services-group-move {
				transition: transform 1s;
			}
			#services-group {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				height: 100%;
			}
			&::-webkit-scrollbar {
				position: absolute;
				right: -5rem;
				width: $scrollbar-width;
				&:hover {
					cursor: pointer;
					transition: all 1s ease-out;
					color: white;
				}
			}
			&::-webkit-scrollbar-track {
				transition: all 2s ease-out;
				background-color: #121726;
				border-radius: 0.5rem;
			}
			&::-webkit-scrollbar-thumb {
				border-radius: 0.5rem; // opacity: 0.4;
				box-shadow: inset 0 0 0 10px;
				transition: all 0.25s ease-in-out;
			}
		}
	}
	h1 {
		font-weight: 600;
		font-size: 1.7rem;
		margin-bottom: 4rem;
	}
}
